.data-controls {
  border-bottom: 2px solid #333;
}

.data-controls__header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.data-controls__options {
  display: flex;
  font-weight: lighter;
  color: #6e6e6e;
  line-height: 1.5em;
  flex-direction: column;
  margin-top: 1em;
  margin-left: -0.5em;
}

.data-controls__option {
  flex: 1;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.data-controls__link {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.8em;
}

.data-controls__link a {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: #999;
  font-weight: lighter;
  height: 1.2em;
  width: 1.2em;
  border: 2px solid #999;
  line-height: 1.1em;
}

.Select-control {
  border-radius: 0;
  background-color: transparent;
}

@media screen and (min-width: 426px) {
  .data-controls__options {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .data-controls__option {
    width: 32%;
    flex: auto;
    box-sizing: border-box;
  }

  .data-controls__option + * {
    margin-left: 0.5em;
    margin-top: 0;
  }
}
