.main-container {
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 100vh;
  flex: 1;
}

@media screen and (min-width: 769px) {
  .main-container {
    flex-direction: row;
  }

  .controls-container {
    width: 40%;
    max-width: 425px;
  }
}

.controls-container {
  padding: 0.5em;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  background-color: #fafafa;
}

.controls-container__header {
  font-family: 'Passion One', sans-serif;
  text-transform: uppercase;
}

.controls-container__header h1 {
  text-align: center;
}

.button {
  border: 1px solid #383838;
  padding: 0.5em 1em;
  background: #e6e6e6;
  font-size: 0.9em;
  font-weight: bold;
}

.button--reset {
  border-color: transparent;
  color: #fff;
  background: #da0a0a;
  float: right;
}
